.t-shadow-111{
  text-shadow: 1px 2px 4px;
}
.t-shadow-112{
  text-shadow: 1px 2px 8px;
}
.t-shadow-113{
  text-shadow: 1px 2px 12px;
}
.t-shadow-121{
  text-shadow: 1px 4px 4px;
}
.t-shadow-122{
  text-shadow: 1px 4px 8px;
}
.t-shadow-123{
  text-shadow: 1px 4px 12px;
}
.t-shadow-131{
  text-shadow: 1px 6px 4px;
}
.t-shadow-132{
  text-shadow: 1px 6px 8px;
}
.t-shadow-133{
  text-shadow: 1px 6px 12px;
}
.t-shadow-141{
  text-shadow: 1px 8px 4px;
}
.t-shadow-142{
  text-shadow: 1px 8px 8px;
}
.t-shadow-143{
  text-shadow: 1px 8px 12px;
}
